.parentContainer {
    height: 100vh;
    position: relative;
}

.container {
    max-width: 40%;
    height: auto;
    padding: 2rem;
    background-color: rgb(195, 223, 231);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: absolute;
    top: 20%;
    left: 30%;
}