<div class="parentContainer">
    <div class="container">
        <div style="font-size: 2rem;text-align: center;font-weight: 600;">Title : {{book?.title }}</div>
        <div><span style="font-size: 1rem;font-weight: 500;">Author : {{book?.author }} </span></div>
        <div><span style="font-size: 1rem;font-weight: 500;">Price : {{book?.price}} </span></div>
        <div><span style="font-size: 1rem;font-weight: 500;">Status : {{book?.status }}</span></div>
        <div><span style="font-size: 1rem;font-weight: 500;">Summary : </span>{{book?.summary}}</div>
    </div>
</div>